.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 200px;
  height: 200px;
  border: solid black 1px;
}

.mole{
  background-image: url('https://stackblitz.com/files/web-platform-chewgr/github/ode7/whac-a-mole/main/mole.jpg')
}